<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="content-left">
    <h3> Episode Link Generator </h3>
    <ul>
      <li> Python Script</li>
    </ul>
    <p>This is a Project which allows us to generate a list of episode links form 8muses.com. The same text file can be used with 'yamete project' to download those comics. Its a simple python script.</p>
    <a class="project-link" href="https://github.com/crazyveez/link-gen">Check it out</a>
  </div>
  <div class="content-right">
    <h3> Telegram Story Poster  </h3>
    <ul>
      <li> Python, Telegram</li>
    </ul>
    <p>This Script is used to automatically post stories to the Telegram channel. We have used <a href="https://pureluststories.com"> PureLustStories</a> to rip stories. You can tweak the codes to rip any site. </p>
    <a class="project-link" href="https://github.com/crazyveez/story_telegram">Check it out</a>
  </div>
</div>